* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container img {
    width: 100%;
    height: 1000px;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 2rem;
    position: fixed;
    width: 100%;
    background: #191919;
    opacity: 0.7;
    z-index: 1;
}

.header ul li {
    list-style-type: none;
    float: left;
    padding: 2rem;

}

.header ul li a {
    text-decoration: none;
    color: white;
    border: 1.5px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.header ul li a:hover {
    background-color: white;
    color: black;
    border: none;
    transition: background 0.5s;
}

#contact a:hover {
    color: white;
    background-color: orange;
    transition: background 0.5s;


}

#contact {
    position: absolute;
    right: 0;

}

#contact a {
    color: white;
    border: 1.5px solid orange;
}

.header h1 {
    color: white;
    position: absolute;
    top: 150px;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    width: 100%;

}

.containertwo {
    width: 100%;
    height: 100px;
    padding: 3rem;

}

.containertwo h2 {
    font-size: 4rem;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 7px;
}

.containerthree {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
}

.box {
    width: 25%;
    height: 130%;
    float: left;
    box-shadow: 0 0 3px black;
    margin-right: 1rem;
    justify-content: center;

}

hr {
    color: #616f39;
    border: 1px solid #616f39;
    border-top: none;
}

.box h2 {
    color: #616f39;
    text-align: center;
    font-size: 2refm;
    padding-top: 2rem;
}

#firstp {
    padding-left: 2rem;
    padding-right: 2rem;
}

#secondp {
    padding-top: 2.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#thirdp {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#fourthp {
    padding: 2rem;
}

.box p {
    font-size: 1.5rem;
    color: black;
    padding-top: 1rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;

}

.containerthree {
    width: 100%;
    height: 210px;
    padding: 3rem;
}

.containerfourth img {
    padding-top: 5rem;
    width: 100%;
    height: 100%;
}

.counter1 {
    position: absolute;
    top: 1520px;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: black;
}

.counter3 {
    position: absolute;
    top: 2050px;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

.counter4 {
    position: absolute;
    top: 1690px;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

.counter2 {
    position: absolute;
    top: 1870px;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

.counterh2 {
    position: absolute;
    top: 1450px;
    color: #616f39;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.counterh2two {
    position: absolute;
    top: 1620px;
    width: 100%;
    color: #616f39;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.counterh2three {
    position: absolute;
    top: 1790px;
    width: 100%;
    color: #616f39;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.counterh2four {
    position: absolute;
    top: 1960px;
    width: 100%;
    color: #616f39;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

/*        RESPONSIVE YAP          */
.containerfifth img {
    width: 100%;
    height: auto;
}
#fas{
    display: none;
}
.video {
    position: absolute;
    top: 2200px;
    width: 100%;
}

.video img {
    width: 50%;
    height: 550px;
    float: left;
    padding: 5rem;
    margin-top: 10rem;
}

.video iframe {
    width: 50%;
    float: left;
    padding: 5rem;
    margin-top: 10rem;
    height: 550px
}

#videoh2 {
    font-size: 3rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

#hr {
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    border-top: none;
    margin-bottom: 5rem;

}

.information div h2 {
    color: black;
    width: 100%;
}

.inf {
    position: absolute;
    top: 3100px;

}

.information img {
    width: 30%;
    float: left;
}

.information h2 {
    float: left;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.information p {
    width: 50%;
    font-size: 1.6rem;
    float: left;
    padding-left: 1rem;
}

.a1,
.a2,
.a3,
.a5,
.a6,
.a7,
.a8,
.a9 {

    width: 50%;
    float: left;
    padding-left: 1.2rem;
    font-weight: 900;
    color: white;
    font-size: 1.3rem;
    padding-top: 2rem;
}

.a1,
.a3,
.a6,
.a8 {
    padding-left: 4rem;
}

#aboutus {
    padding-left: 0;
}


